div#container
  h3 Hacker School Checkins
    div#feeds
      - each checkin in checkins
        div.checkin(data-fsid='checkin.user.id')
          img(src="#{checkin.user.photo}")
          p #{checkin.user.firstName}