div#container
  h3 Hacker School Checkins
    - each checkin in checkins
      div#feeds
        div.item(data-fsid='checkin.user.id')
          h4 #{checkin.user.firstName}
          img(src="#{checkin.user.photo}")