#logo
  img(src="images/HS_logo_4sq.png")
  h3 Hacker School Checkins
#container
    #feeds
      - each checkin in checkins
        div.checkin(data-fsid='checkin.user.id')
          img(src="#{checkin.user.photo}")
          p #{checkin.user.firstName}