!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js');
    script(type='text/javascript')
      var socket = io.connect('http://localhost:3000');
      socket.on('checkin', function(data){
        console.log('got a checkin!');
      });
  body!= body 