body {
  padding: 10px;
}

p {
  font-family: "helvetica-neue", helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

h3 {
  font-family: "helvetica-neue", helvetica, sans-serif;
  font-size: .5em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px;
}

#container {
	padding: 20px;
	margin: 1em;
	font-family: 'Hevertica-Neue', Helvetica, Sans-Serif;
	font-size: 2em;
	color: black;
	background-color: #1FD2FF;
}

#feeds {
  margin-top:40px;
  border-top:#333 dashed 1px;
}
.checkin {
   margin:0;
   /*width:980px;*/
   height:80px;
   font-size:30px;
   border-bottom:#333 dashed 1px;
   padding:0px 10px 0px 10px;
}