@font-face {
    font-family: DeliciousRoman;
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}

body {
  border-top: 5px solid black;
  padding-bottom: 20px;
}

p {
  font-family: "DeliciousRoman", "Helvetica-Neue", helvetica, sans-serif;
  font-size: .5em;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

h3 {
  font-family: "DeliciousRoman", "Helvetica-Neue", helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#logo {
  text-align: center;
}

#container {
  overflow: hidden;
	font-family: "DeliciousRoman", 'Hevertica-Neue', Helvetica, Sans-Serif;
	font-size: 2em;
	color: black;
}

#feeds {
  overflow: hidden;
}
.checkin {
   float: left;
   display: block;
   margin-right: 25px;
   font-size:2em;
   padding:0px 10px 0px 10px;
}