body {
  padding: 10px;
}

p {
  font-family: "Helvetica-Neue", helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

h3 {
  font-family: "Helvetica-Neue", helvetica, sans-serif;
  font-size: .5em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px;
}

#container {
  overflow: hidden;
	padding: 20px;
	margin: 1em;
	font-family: 'Hevertica-Neue', Helvetica, Sans-Serif;
	font-size: 2em;
	color: black;
	background-color: #1FD2FF;
}

#feeds {
  overflow: hidden;
  margin-top:40px;
}
.checkin {
   float: left;
   display: block;
   margin-right: 25px;
   font-size:2em;
   padding:0px 10px 0px 10px;
}